/*font-family: 'Montserrat', sans-serif;
font-family: 'Zilla Slab', serif;
*/
:after,
:before {
  box-sizing: border-box;
}
/*obecné*/

body {
  font-family: "Montserrat", sans-serif;
  background-color: #30363d;
  text-align: center;
}
header {
  color: #ffffff;
  background-size: 300px;
  height: 300px;
  box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.27);
}

footer {
  font-size: 12px;
  width: 100%;
}

.title {
  padding: 15px;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  background: linear-gradient(to right, #f27a54 45%, #a154f2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
}

/*boxíky*/

.boxy {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -70px;
  margin-bottom: 40px;
}

.box {
  background-color: #3c444c;
  margin: 20px;
  width: 200px;
  height: 150px;
  box-shadow: 4px 4px 8px 0px rgba(12, 12, 12, 0.523);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  max-width: 50%;
}

/*tlačítka*/

.button {
  background-color: #e0d9d3;
  font-family: "Zilla Slab", serif;
  border-radius: 25px;
  width: 120px;
  height: 30px;
  padding-top: 5px;;
}

.button a {
  text-decoration: none;
  color: black;
  display: block;
  border-radius: 25px;
}

/*mobil*/

/*tablet*/
@media screen and (min-width: 541px) and (max-width: 960px) {
  .box {
    width: 400px;
    height: 300px;
  }

  .button {
    width: 240px;
    height: 50px;
  }

  .button a {
    padding: 10px;
    font-size: 20px;
  }

  h1 {
    font-size: 48px;
  }
}

/*desktop*/
@media screen and (min-width: 961px) {
  .boxy {
    flex-direction: row;
    align-items: flex-start;
  }

  .box {
    text-align: center;
    height: 300px;
    width: 33%;
    flex-grow: 1 1;
  }

  .box img {
    max-width: 60%;
  }

  .button {
    min-width: 220px;
    max-width: 280px;
    height: 50px;
  }
  .button a {
    padding: 7px;
    font-size: 24px;
  }

  h1 {
    font-size: 64px;
  }
}

/* Filtr kin */

/*mobil*/

.instructions {
  display: none;
}

.cinema-select .camera-img img {
  width: 100px;
  margin-left: 10px;
}

.cinema-filter {
  margin: 0 auto;
  margin-top: -60px;
  margin-bottom: 60px;
  padding: 0px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.27);
  background-color: #b0adbe;
}

.cinema-select {
  display: flex;
  justify-content: space-between;
  background-color: #3c444c;
  align-items: center;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#cinema-menu {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  margin-right: 20px;
}

.cinema-list {
  
  box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.27);
  padding-bottom: 1px;
}

.cinema-name h2, .cinema-name p {
  color: #30363d;
}

.cinema-item {
  display: flex;
  color: white;
  height: 150px;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 1px solid #3c444c;
  clear: right;
  margin-bottom: 10px;
}

.cinema-name {
  width: 50%;
  text-align: left;
  padding-left: 20px;
}

.cinema-item p {
  font-style: italic;
  font-size: 12px;
}

.cinema-button {
  position: relative;
  bottom: -100px;
  right: 10px;
  background-color: #3c444c;
}

.cinema-button a {
  color: white;
}

/*Detail kina */

/* proč je ta mezera mezi detailem a dalším kinem? */

.cinema-detail {
  background-color:#3c444c;
  margin: 0px;
  padding: 15px;
  box-shadow: 4px 4px 8px 0px rgba(50, 50, 50, 0.27);
  color: white;
}

.cinema-detail img {
  width: 200px;
  height: auto;
  border-radius: 5px;
}

.cinema-photo {
  float: left;
}

.copyright {
  font-size: 8px;
  font-style: italic;
}

.cinema-info {
  clear: left;
  text-align: left;
  font-size: 12px;
  padding-top: 1px;
}

.program-button {
  float: right;
  position: relative;
  top: -35px;
  right: 0px;
}

.program-button a {
  color: black;
}


/*tablet*/
@media screen and (min-width: 541px) {
  h2 {
    font-size: 28px;
  }

  .cinema-name p {
    font-size: 14px;
  }
  .instructions {
    display: unset;
    font-size: 14px;
    color: white;
  }

  .cinema-item {
    padding: 20px;
  }

  .cinema-detail img {
    width: 300px;
    height: auto;
    padding: 10px;
  }

  .cinema-info {
    font-size: 16px;
    padding: 10px;
  }

  .address-details {
    font-size: 20px;
    padding: 10px;
  }

  .cinema-button,
  #cinema-menu {
    width: 180px;
  }

  .program-button {
    width: 180px;
    top: -50px;
    right: 15px;
  }

  .program-button a {
    padding: 12px;
  }

  .copyright {
    font-size: 10px;
  }
}

/*desktop*/
@media screen and (min-width: 961px) {
  h2 {
    font-size: 32px;
  }
  .cinema-filter {
    width: 70%;
  }

  .cinema-name p, 
  .instructions {
    font-size: 16px;
  }
  .cinema-detail img {
    width: 400px;
    height: auto;
  }

  .cinema-info {
    font-size: 20x;
  }

  .address-details {
    font-size: 24px;
  }

  .cinema-button,
  #cinema-menu {
    width: 240px;
  }

  .program-button {
    width: 240px;
    top: -70px;
    font-size: 20px;
  }

  .program-button a {
    padding: 5px;
  }

  .copyright {
    font-size: 12px;
  }
}
